<link href="{% static 'styles/showtime_css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'styles/libs/bootstrap-responsive.css' %}" rel="stylesheet">
<link href="{% static 'styles/libs/demo.css' %}" rel="stylesheet">
<link href="{% static 'styles/libs/ui.daterangepicker.css' %}" media="screen" rel="Stylesheet" type="text/css" />
<link href="{% static 'styles/libs/jquery-ui-1.8.16.custom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'styles/libs/jquery.wijmo-open.1.5.0.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'styles/libs/enhanced.css' %}" rel="Stylesheet">
<link href="{% static 'styles/custom_styles/mystyle.css' %}" rel="Stylesheet">
<link rel="shortcut icon" href="{% static 'images/pentachannel-logo.png' %}">

<style>
    html {
        background-color: #B8B8B8;
        height: 100%;
    }
    body {
        background-color: #B8B8B8;
        /*background-image: url('/media/images/mochaGrunge2.png');
        background-repeat: repeat;*/
        height: 100%;
        margin:0; 
        padding:0;
    }
    .container {
        background-color: #ffffff;
        min-height: 95%;
    }
</style>
