<div class="my_footer-container">
    <div class="my_footer">
        <div class="my_copyright">© 2013 The<font color="#a5c11c">VC</font>Group</div>
        <div class="my_connection">
            <div class="my_icon">
                <a href="//www.linkedin.com/company/the-vc-group">
                    <img src="{% static 'images/linkedin.png' %}" title="linkedin"/>
                </a>
            </div>
            <div class="my_icon">
                <a href="//vc.zr.in.th/feed/">
                    <img src="{% static 'images/rss.png' %}" title="RSS"/>
                </a>
            </div>
            <div class="my_icon">
                <a href="//www.twitter.com/TheVCgroup">
                    <img src="{% static 'images/twitter.png' %}" title="twitter"/>
                </a>
            </div>
            <div class="my_icon">
                <a href="https://plus.google.com/b/116017863792129001865/116017863792129001865">
                    <img src="{% static 'images/google.png' %}" title="google+"/>
                </a>
            </div>
            <div class="my_icon">
                <a href="https://www.facebook.com/thevcgroup">
                    <img src="{% static 'images/facebook.png' %}" title="facebook"/>
                </a>
            </div>
        </div>
    </div>
</div>
