{% extends "base.html" %}
{% load i18n static %}
{% block title %}ลืมรหัสผ่าน{% endblock%}
{% block content %}
<div class="ui text container">
    <div class="column">&nbsp;</div>
    <h2 class="ui dividing header">ลืมรหัสผ่าน</h2>

    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form class="ui form {% if form.errors %}error{% endif %}" method="post">{% csrf_token %}
        <div class="field">
            {{ form.email.errors }}
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email }}
        </div>

        <input type="submit" class="ui primary button" value="{% trans 'Reset my password' %}" />
    </form>
</div>

{% endblock %}
