<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Power-All Showtime</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% include "showtimes/include/config_style.html" %}
        <script type="text/javascript" src="{% static 'scripts/libs/spin.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/custom_scripts/channel_create.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/custom_scripts/lib_createSelect.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/custom_scripts/lib_custom.js' %}"></script>
    </head>
    <body onload="JavaScript:setTime('{{start_hour}}','{{start_minute}}','{{end_hour}}','{{end_minute}}');">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    {% include "showtimes/include/header.html" %} 
                    <div style="padding:0px 20px 0px 20px;">
                        {% if action == 'create' %}<h3>Create Channel</h3>
                        {% else %}                 <h3>Update Channel</h3>
                        {% endif %}
                        <hr/>
                    </div> 
                    {% if messages %}
                    <div class="alert alert-error" style="margin:20px; padding:10px;">
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form id="channel_create_form" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div id="spinnerbar" align="center"></div>
                        <div class="row-fluid">
                            <div class="span6">
                                {% if form.name.errors %}<div class="control-group error">
                                {% else %}               <div class="control-group">
                                {% endif %}
                                    <label for="name" class="control-label">Name {% if form.name.field.required %}*{% endif %}</label>
                                    <div class="controls">
                                        <div class="clearfix">
                                            <div class="input">
                                                {{form.name}}<p class='text-warning'>Allow only a-z A-Z 0-9 - _</p>{% if form.name.errors %}{% for error in form.name.errors %}
                                                    <span class="help-inline">{{error|escape}}</span>
                                                {% endfor %}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end name-->
                            </div>
                            <div class="span6">
                                {% if form.icon.errors %}<div class="control-group error">
                                {% else %}                       <div class="control-group">
                                {% endif %}
                                    <label for="icon" class="control-label">Icon {% if form.icon.field.required %}*{% endif %}</label>
                                    <div class="controls">
                                        {{form.icon}}<p class='text-warning'>image size 50*50, type .png</p>{% if form.icon.errors %}{% for error in form.icon.errors %}
                                            <span class="help-inline">{{error|escape}}</span>
                                        {% endfor %}{% endif %}
                                    </div>
                                </div><!--end icon-->
                            </div>
                            <div class="span6" style="margin-left:0px;">
                                {% if form.start_time.errors %}<div class="control-group error">
                                {% else %}                  <div class="control-group">
                                {% endif %}                                
                                    <label for="start_time" class="control-label">Start time {% if form.start_time.field.required %}*{% endif %}</label>
                                    <div class="controls">
                                        <input type="hidden" name="start_time" id="start_time"/>
                                        <div id="stime_div" style="margin-left:-8px;">
                                            <span class="help-inline">{{error|escape}}</span>
                                        </div>
                                    </div>
                                </div><!--end start_time-->
                            </div>
                            <div class="span6">
                                {% if form.end_time.errors %}<div class="control-group error">
                                {% else %}                  <div class="control-group">
                                {% endif %}
                                    <label for="end_time" class="control-label">End Time {% if form.end_time.field.required %}*{% endif %}</label>
                                    <div class="controls">
                                        <input type="hidden" name="end_time" id="end_time"/>
                                        <div id="etime_div" style="margin-left:-8px;">
                                            <span class="help-inline">{{error|escape}}</span>
                                        </div>
                                    </div>
                                </div><!--end end_time-->
                            </div>
                            <div class="span6" style="margin-left:0px;">
                                {% if form.streamServer.errors %}<div class="control-group error">
                                {% else %}               <div class="control-group">
                                {% endif %}
                                    <label for="streamServer" class="control-label">Stream Server {% if form.streamServer.field.required %}*{% endif %}</label>
                                    <div class="controls">
                                        {{form.streamServer}}{% if form.streamServer.errors %}{% for error in form.streamServer.errors %}
                                            <span class="help-inline">{{error|escape}}</span>
                                        {% endfor %}{% endif %}
                                    </div>
                                </div><!--end streamServer-->
                            </div>
                            <div class="span6" style="margin-left:0px;">
                                {% if form.ip.errors %}<div class="control-group error">
                                {% else %}               <div class="control-group">
                                {% endif %}
                                    <label for="ip" class="control-label">IP Address {% if form.ip.field.required %}*{% endif %}</label>
                                    <div class="controls">
                                        {{form.ip}}{% if form.ip.errors %}{% for error in form.ip.errors %}
                                            <span class="help-inline">{{error|escape}}</span>
                                        {% endfor %}{% endif %}
                                    </div>
                                </div><!--end ip-->
                            </div>
                        </div>
                        <input name="user" type="hidden" value="{{user.id}}"/>
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <button class="btn btn-primary" id="sendBtn" onclick="createChannel();"><i class="icon-ok icon-white"></i> Submit</button>
                                <a id="cancelBtn" class="btn" href="{% url 'site_channel_list' %}"><i class="icon-remove"></i> Cancel</a>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div><!--end container-->
        {% include "showtimes/include/footer.html" %}
    </body>
</html>
