syntax: glob
*run.sh
*.pyc
*.swp
*.swo
*.bak
*.mo
*~
.coverage
.idea
.cache*
showtimeCron
cron_every_day
media/uploaded/
curator.log
celerybeat-schedule
*.log
htmlcov/
env/
.DS_Store
*.db
report/
snapshot/
node_modules/
viewstat/
static/dist/
viewstat.pickle
clear_broken_video*.json
production_static/
showtime/staging.py
env_pypy/
update_auto_video.log*
temp/
.ipynb_checkpoints/
media/test_*.png
showtime/backup_production.py
showtime/settings_monitor.py
showtime/production.py
