<style type="text/css">
    #suggestCollapse {
        background: #E9FDFF;
    }

</style>
<div id="suggestion-parent" style="display: none;">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#suggestCollapse">
                <h4 class="panel-title">
                    มีคนแนะนำคลิปที่มาให้ช่องของคุณ
                    <a class="btn btn-sm pull-right"><span class="caret"></span></a>
                </h4>
                
            </div>
            <div id="suggestCollapse" class="panel-collapse collapse">
  
            </div>
        </div>
    </div>
</div>