{% extends "channel/base_with_sidebar.html" %}
{% load i18n %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a class="listheader">{% trans "Search" %}</a></li>
        <li class="following active">
            <a>
                {% if word == "" %}{% trans "Search all" %}
                {% else %}{{word}}{% endif %}
            </a>
        </li>
        <li class="following">
            <a href="{% url 'channel:channel_browse' %}"><span class="glyphicon glyphicon-search"></span> {% trans "Search by category" %}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% include "channel/include/channel_gridview_guest.html" %}
    <div id="alertMessage" class="alert alert-warning" style="margin:20px -10px 0px;">{% trans "Channel not found" %}.</div>
    <script type="text/javascript">
        var LIVE_TEXT = "{% trans 'Live' %}";
        var GET_SEARCH_URL = "{% url 'channel_apis_search_guest' 'WORD' %}";
        var page_header = '{{nav_values.page_header}}';
        var word = '{{word}}';
        $(document).ready(function(){
            $("#alertMessage").hide();
            channelList.setSelectedSearch(word);
        });

        $('#channelList').on('searchCompleted',function(event,channels){
            if(channels.length == 0){
                $("#alertMessage").show();
            }
        });
    </script>
{% endblock %}
