<ol>
    <li>ผลเทส
        <ul>
            <li><a href="http://192.168.1.128/dev/cnmi/report/">UI Test Report</a></li>
            <li><a href="http://192.168.1.128/build_board/">Build board</a></li>
        </ul>
    </li>
    <li>
        <a href="/tools/statable/">Statable</a>
    </li>
    <li>
        <a href="/tools/barcode_list/">Barcode Prefix List</a>
    </li>
    <li>
        <a href="http://192.168.56.155/admin/tools/usecase/">ค้นหา Usecase</a>
    </li>
    <li>
        <a href="http://192.168.56.155/admin/tools/flowcategory/">Flow สำหรับส่งมอบต่างๆ</a> (คลิกคำว่า Flow Matrix ข้างชื่อ Flow)
    </li>
    <li>
        <a href="http://192.168.56.155/tools/progress_report/">รายการ Usecase ส่งมอบรายเดือน</a>
    </li>
    <li>
        <a href="http://192.168.56.155/tools/missing_features/">รายการ Excluded features</a>
    </li>
    <li>
        <a href="http://192.168.56.155/tools/refresh_redmine/">Refresh สถานะจาก Redmine</a>
    </li>
    <li>
        <a href="/tools/data-dict/">Data Dictionary</a>
    </li>
    <li>
        <a href="/tools/import_export_dict/">Data Dictionary สำหรับ Import/Export</a>
    </li>
    <li>
        <a href="/tools/dependencies/">DEPENDENCIES MATRIX</a>
    </li>
</ol>
